{% extends '@Contabilidad/layout-contab.html.twig' %}
{#{% block body %}#}

{% block title %}
	{%  set nombres = (cliente.nombres~' '~cliente.ape1~' '~cliente.ape2)|split(' ') %}
	{{ nombres[0] }} |
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/estilosForm.css') }}">
	<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block content %}

	
	{#<div class="row">#}
		
		<!-- *** MENUS AND FILTERS ***
		_________________________________________________________ -->
		
		<div class="filtros" id="filtros">
			<h2 class="text-center">Empresa</h2>
			<div class="panel panel-default">
				<div class="panel-heading" ><a href="{{ path('contabilidad_ficha_cliente', {'id_cliente': cliente.id}) }}"><strong>Datos Generales</strong> </a></div>
				<div class="panel-body">
					<strong>Nombre: </strong>{{ cliente.nombres ~' '~ cliente.ape1 ~' '~ cliente.ape2}}
					<br>
					<strong>RUC: </strong>{{ cliente.ruc ~' - '~ cliente.dv}}
				</div>
			</div>
			
			{% block funciones %} {% endblock %}
			{% block cedulas %} {% endblock %}
			
			
		</div>


	<!-- *** AREA DE TRABAJO ***
	_________________________________________________________ -->

		<div class="area_trabajo">
			{% include '@Contabilidad/Partials/menuform.html.twig' %}
			{% block areatrabajo %}
				{% if app.request.hasPreviousSession %}
					{% for type, messages in app.session.flashbag().all() %}
						{% for message in messages %}
							<div class="alert alert-{{ type }} alert-dismissable fade in" role="alert" id="mensajeFlash" hidden>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}
				{% endif %}
			{% endblock %}
		</div>
	{#</div>#}
	
{% endblock %}

{% block foot %}
		{#<div class="container-fluid">#}
			{#<div class="row">#}
				{#<div class="col-md-2">#}
				{##}
				{#</div>#}
				{#<div class="col-md-4">#}
				{##}
				{#</div>#}
			{#</div>#}
		{#</div>#}

{% endblock %}


