{% extends '@Contabilidad/BaseFormularios.html.twig' %}

{% block areatrabajo %}

    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Comprobante</th>
                <th class="text-center">Cotiz</th>
                <th class="text-center">Comentario</th>
                <th class="text-center">G10</th>
                <th class="text-center">Timbrado</th>
                <th class="text-center">Condicion</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ventaSin in ventaSins %}
            
            <tr>
                <td><p class="small"><a href="{{ path('venta_show', { 'id': ventaSin.id }) }}">{{ ventaSin.id }}</a></p></td>
                <td><p class="small">{% if ventaSin.fecha %}{{ ventaSin.fecha|date('d/m/Y') }}{% endif %}</p></td>
                <td><p class="small">{{ ventaSin.nsuc~'-'~ventaSin.npe~'-'~ventaSin.ncomp }}</p></td>
                <td><p class="small">{{ ventaSin.cotiz }}</p></td>
                <td><p class="small">{{ ventaSin.comentario }}</p></td>
                <td class="text-right"><p class="small">{{ ventaSin.g10|number_format(0, ',', '.') }}</p></td>
                {#<td class="text-right">{{ ventaSin.g5|number_format(0, ',', '.') }}</td>#}
                {#<td class="text-right">{{ ventaSin.iva10|number_format(0, ',', '.') }}</td>#}
                {#<td class="text-right">{{ ventaSin.iva5|number_format(0, ',', '.') }}</td>#}
                {#<td class="text-right">{{ ventaSin.exe|number_format(0, ',', '.') }}</td>#}
                {#<td class="text-right">{{ ventaSin.retencion|number_format(0, ',', '.') }}</td>#}
                <td><p class="small">{{ ventaSin.timbrado }}</p></td>
                <td><p class="small">{{ ventaSin.condicion }}</p></td>
                <td class="text-center">
                    <a href="{{ path('venta_show', { 'id': ventaSin.id }) }}" class="btn btn-info btn-xs">Mostrar</a>
                    <a href="{{ path('venta_edit', { 'id': ventaSin.id }) }}" class="btn btn-warning btn-xs">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    

{% endblock %}
