{% extends '@Contabilidad/BaseFormularios.html.twig' %}

{% block title %}
    {{ parent() }}
    Editar
{% endblock %}

{% block cedulas %}
    {% include '@Contabilidad/Partials/cedulas.html.twig' %}
{% endblock %}

{% block areatrabajo %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'enctype':'multipart/form-data'}) }}
            {{ form_row(form.ruc) }}
            {{ form_row(form.dv) }}
            {{ form_row(form.nombres) }}
            {{ form_row(form.ape1, {'label':'Apellido 1'}) }}
            {{ form_row(form.ape2, {'label':'Apellido 2'}) }}
            {{ form_row(form.estado) }}
            {{ form_row(form.cianv, {'label':'C.I. Anverso'}) }}
            {{ form_row(form.cirev, {'label':'C.I. Reverso'}) }}
            <input type="submit" value="Guardar" class="btn btn-group btn-success pull-right"/>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
