{% extends '@Contabilidad/layout-contab.html.twig' %}
{% block title %}
    Nuevo Cliente
{% endblock %}


{% block head %}
    {{ parent() }}
    <nav class="navbar navbar-default">
        <!-- BOTONES -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a href="{{ path('contabilidad_lista_clientes') }}" class="btn btn-default navbar-btn">Volver</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {{ form_start(form, {'enctype':'multipart/form-data'}) }}
            {{ form_row(form.ruc) }}
            {{ form_row(form.dv) }}
            {{ form_row(form.nombres) }}
            {{ form_row(form.ape1) }}
            {{ form_row(form.ape2) }}
            {{ form_row(form.estado) }}
            {{ form_row(form.cianv) }}
            {{ form_row(form.cirev) }}
            <input type="submit" value="Guardar" class="btn btn-group btn-success pull-right"/>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
