{% extends '@Contabilidad/BaseFormularios.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset("js/entidades.js") }}"></script>
	<script src="{{ asset("js/ventas.js") }}"></script>
{% endblock %}

{% block areatrabajo %}
	{{ parent() }}
	<div class="panel panel-default">
		<div class="panel-body">
			{{ form_start(form, {'attr':{'id':'formuCompra'}}) }}
			{{ form_errors(form.dia) }}
			{{ form_errors(form.nsuc) }}
			{{ form_errors(form.npe) }}
			{{ form_errors(form.ncomp) }}
			{{ form_errors(form.timbrado) }}
			{{ form_errors(form.condicion) }}
			{{ form_errors(form.moneda) }}
			{{ form_errors(form.cotiz) }}
			{{ form_errors(form.comentario) }}
			<div class="linea col-lg-12">
				<div class="widget">
					{{ form_label(form.tipocomp) }}
					{{ form_widget(form.tipocomp) }}
				</div>
				<div class="widget">
					{{ form_label(form.dia) }}
					{{ form_widget(form.dia) }}
				</div>
				<div class="widget">
					{{ form_label(form.entidad) }}
					{{ form_widget(form.entidad) }}
				</div>
				<div class="widget">
					{{ form_label(form.nsuc) }}
					{{ form_widget(form.nsuc) }}
				</div>
				<div class="widget">
					{{ form_label(form.npe) }}
					{{ form_widget(form.npe) }}
				</div>
				<div class="widget">
					{{ form_label(form.ncomp) }}
					{{ form_widget(form.ncomp) }}
				</div>
				<div class="widget">
					{{ form_label(form.timbrado) }}
					{{ form_widget(form.timbrado) }}
				</div>
				<div class="widget">
					{{ form_label(form.condicion) }}
					{{ form_widget(form.condicion) }}
				</div>
				<div class="widget">
					{{ form_label(form.moneda) }}
					{{ form_widget(form.moneda) }}
				</div>
				<div class="widget">
					{{ form_label(form.cotiz) }}
					{{ form_widget(form.cotiz) }}
				</div>
				<div class="widget">
					{{ form_label(form.anul) }}
					{{ form_widget(form.anul, {'attr':{'class':'inactivo'}}) }}
				</div>
			</div>
			<div class="linea col-lg-12">
				{{ form_label(form.comentario) }}
				{{ form_widget(form.comentario) }}
			</div>
		

			{#<div>#}
				
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active pestaña">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab" tabindex="-1">Detalle</a>
					</li>
					<li role="presentation" class="pestaña">
						<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" tabindex="-1">Asiento</a>
					</li>
					<li role="presentation" class="pestaña">
						<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" tabindex="-1">Revalúo</a>
					</li>
				</ul>
				
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="home">
						<div class="panel panel-default">
							<div class="panel-body">
								
								<div class="row">
									<div class="col-md-12">
										<div class="widget">
											<label for="total_comprobante">Total Comprobante</label>
											<strong><input type="text" value="0" id="total_comprobante" style="width: 150px" class="numero"></strong>
										</div>
										<div class="widget">
											<label for="cargado">Cargado</label>
											<input type="text" value="0" id="cargado" style="width: 150px" class="numero inactivo" disabled>
										</div>
										<div class="widget">
											<label for="diferencia">Diferencia</label>
											<input type="text" value="0" id="diferencia" style="width: 150px" class="numero inactivo" disabled>
										</div>
									</div>
								</div>
								{#<div class="row">#}
									{#<ul class="col-lg-12">#}
										{#<li class="detalle col-md-12">#}
											{#<div class="linea col-md-12">#}
												{#<input type="text" class="lectura" STYLE="width: 100px" value="Afecta">#}
												{#<input type="text" class="lectura" STYLE="width: 200px" value="Cuenta">#}
												{#<input type="text" class="lectura" STYLE="width: 100px" value="IVA incl. 10%">#}
												{#<input type="text" class="lectura" STYLE="width: 100px" value="IVA incl. 5%">#}
												{#<input type="text" class="lectura" STYLE="width: 100px" value="EXENTAS">#}
												{#<input type="text" class="lectura" STYLE="width: 100px" value="IVA 10%">#}
												{#<input type="text" class="lectura" STYLE="width: 100px" value="IVA 5%">#}
											{#</div>#}
										{#</li>#}
									{#</ul>#}
								{#</div>#}
								<a href="#" id="add-another-email">Agregar detalle</a>
								
								<ul id="formulario-detalle"
								    data-prototype="{{ form_widget(form.comprad.vars.prototype, {'attr':{'class':'linea col-lg-12'}})|e }}"
								    class="linea col-lg-12">
									<li class="detalle col-md-12">
										<div class="linea col-md-12">
											<strong><input type="text" class="lectura text-center" disabled STYLE="width: 100px" value="Afecta"></strong>
											<strong><input type="text" class="lectura text-center" disabled STYLE="width: 150px" value="Cuenta"></strong>
											<strong><input type="text" class="lectura text-center" disabled STYLE="width: 100px" value="IVA incl. 10"></strong>
											<strong><input type="text" class="lectura text-center" disabled STYLE="width: 100px" value="IVA incl. 5"></strong>
											<strong><input type="text" class="lectura text-center" disabled STYLE="width: 100px" value="EXENTAS"></strong>
											<strong><input type="text" class="lectura text-center" disabled STYLE="width: 100px" value="IVA 10%"></strong>
											<strong><input type="text" class="lectura text-center" disabled STYLE="width: 100px" value="IVA 5%"></strong>
											<strong><input type="text" class="lectura text-center" disabled STYLE="width: 100px" value="TOTAL"></strong>
										</div>
									</li>
									
									{% for detalle in form.comprad %}
										<li class="col-md-12 detalle"><div class="linea col-lg-12 detalle"><div>{{ form_widget(detalle.afecta) }}</div><div>{{ form_widget(detalle.cuenta) }}</div><div>{{ form_widget(detalle.g10) }}</div><div>{{ form_widget(detalle.g5) }}</div><div>{{ form_widget(detalle.exe) }}</div><div>{{ form_widget(detalle.iva10) }}</div><div>{{ form_widget(detalle.iva5) }}</div><div>{{ form_widget(detalle.total) }}</div><div>{{ form_widget(detalle.borrar) }}</div><div>{{ form_widget(detalle.agregar) }}</div>
											</div></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane fade" id="profile">...</div>
					<div role="tabpanel" class="tab-pane fade" id="messages">...</div>
					<div role="tabpanel" class="tab-pane fade" id="settings">...</div>
				</div>
		
		{#<input type="submit" value="Guardar" class="btn btn-success pull-right" id="btnGuardar"/>#}
		<button type="button" class="btn btn-success pull-right" id="btnGuardar">Guardar</button>
		
		{{ form_end(form) }}
		</div>
	</div>

	{#</div>#}
	
	
	<!-- Small modal -->
	{#<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-anular">Modal</button>#}
	
	{#<div class="modal fade modal-anular" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel"#}
	     {#id="modAnular">#}
		{#<div class="modal-dialog modal-sm" role="document">#}
			{#<div class="modal-content">#}
				{#<div class="modal-header">#}
					{#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
								{#aria-hidden="true">&times;</span></button>#}
					{#<h4 class="modal-title" id="gridSystemModalLabel">Anular Venta</h4>#}
				{#</div>#}
				{#<div class="modal-body bg-warning">#}
					{#<div class="row">#}
						{#<div class="col-md-3 text-center">#}
							{#<div class="btn-lg"><i class="fa fa-exclamation-circle aviso" aria-hidden="true"></i></div>#}
						{#</div>#}
						{#<div class="col-md-9">#}
							{#<p>Está seguro de anular la venta? Se borrarán los detalles</p>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
				{#<div class="modal-footer">#}
					{#<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_cancelar">No</button>#}
					{#<button type="button" class="btn btn-danger" id="modal_anular">Anular</button>#}
				{#</div>#}
			{#</div><!-- /.modal-content -->#}
		{#</div><!-- /.modal-dialog -->#}
	{#</div><!-- /.modal -->#}
	
	<script type="text/javascript">
		// keep track of how many email fields have been rendered
		var emailCount = '{{ form.comprad|length }}';
		
		jQuery(document).ready(function () {
			
			//Agrega una línea de detalle
			
			jQuery('#add-another-email').click(function (e) {
				e.preventDefault();
				console.log(emailCount);
				
				var emailList = jQuery('#formulario-detalle');
//				console.log(emailList);
				
				// grab the prototype template
				var newWidget = emailList.attr('data-prototype');
				// replace the "__name__" used in the id and name of the prototype
				// with a number that's unique to your emails
				// end name attribute looks like name="contact[emails][2]"
				newWidget = newWidget.replace(/__name__/g, emailCount);
				emailCount++;
				
				// create a new list element and add it to the list
				var newLi = jQuery('<li></li>').html(newWidget).addClass('detalle col-md-12');
				newLi.appendTo(emailList);
//				newLi.prependTo(emailList);
//				emailList[0].lastChild.lastChild.firstChild.firstChild.focus();
				emailList[0].lastChild.lastChild.childNodes[1].childNodes[0].focus();
				var padre = emailList[0].lastChild.lastChild;
				var botonborrar = "contabilidadbundle_comprac_comprad_" + (parseInt(emailCount) - 1) + "_borrar";
				console.log(botonborrar);
				$("#" + botonborrar).hide();
				$(this).hide();
				$('.numero').number(true, 2, ',', '.');
				selText();
				$($(padre)[0].childNodes[5].childNodes[0]).attr('readonly', true).addClass('inactivo');
				$($(padre)[0].childNodes[6].childNodes[0]).attr('readonly', true).addClass('inactivo');
				$($(padre)[0].childNodes[7].childNodes[0]).attr('disabled', true).addClass('inactivo');
				
				
				
			});
			function inhabilitarDetalle(boton){
//				console.log(boton);
				var padre = boton.parent().parent();
				padre[0].childNodes[0].childNodes[0].classList.add('inactivo');
				padre[0].childNodes[1].childNodes[0].classList.add('inactivo');
				padre[0].childNodes[2].childNodes[0].classList.add('inactivo');
				padre[0].childNodes[3].childNodes[0].classList.add('inactivo');
				padre[0].childNodes[4].childNodes[0].classList.add('inactivo');
				padre[0].childNodes[5].childNodes[0].classList.add('inactivo');
				padre[0].childNodes[6].childNodes[0].classList.add('inactivo');
				padre[0].childNodes[7].childNodes[0].classList.add('inactivo');
//				var hijo=padre[0].childNodes[3].childNodes[0];
//				console.log(padre[0]);
//				console.log(hijo);
				$(padre[0].childNodes[0].childNodes[0]).prop('readonly', true);
				$(padre[0].childNodes[1].childNodes[0]).prop('readonly', true);
				$(padre[0].childNodes[2].childNodes[0]).prop('readonly', true);
				$(padre[0].childNodes[3].childNodes[0]).prop('readonly', true);
				$(padre[0].childNodes[4].childNodes[0]).prop('readonly', true);
//				$(padre[0].childNodes[5].childNodes[0]).prop('disabled', true);
//				$(padre[0].childNodes[6].childNodes[0]).prop('disabled', true);
//				$(padre[0].childNodes[7].childNodes[0]).prop('disabled', true);
				
			}
			
			
			// al agregar fila nueva
			$('#formulario-detalle').on('click', 'li div button.agregar', function () {
				var elemento = $(this).parent().parent();
				var texto = this.name.replace(']', '').replace(']', '').replace(']', '');
				var indice = texto.split('[');
				
				// si diferencia diferente a 0 permite agregar
				if($('#diferencia').val()!=0){
					//muestra boton borrar
					var botonborrar = "contabilidadbundle_comprac_comprad_" + (parseInt(indice[2])) + "_borrar";
					$("#" + botonborrar).show();
//
					inhabilitarDetalle($(this));
//              // oculta boton agregar
					$(this).hide();
					elemento.parent().addClass('detalle col-md-12');
					$('#add-another-email').click();
				} else {
					$('#btnGuardar').click();
				}
			});
			
			// borrar línea de detalle
			$('#formulario-detalle').on('click', 'li div button.borrar', function () {
				var elemento = $(this).parent().parent().parent();
				console.log(elemento);
				$(this).hide();
				elemento.parent();
				elemento.remove();
				camposControl();
				console.log('se realiza el borrado')
			});
			
			$('button.agregar').hide();
//			$('#contabilidadbundle_comprac_dia').val(8);
			console.log($(document.dataset));
			
			//rellena campo nsuc al salir con 3 digitos
			$('#contabilidadbundle_comprac_nsuc').on('blur', function () {
				$(this).val(relleFac($(this).val(), 3));
			});
			
			//rellena campo npe al salir con 3 digitos
			$('#contabilidadbundle_comprac_npe').on('blur', function () {
				$(this).val(relleFac($(this).val(), 3));
			});
			
			//rellena campo ncomp al salir con 3 digitos
			$('#contabilidadbundle_comprac_ncomp').on('blur', function () {
				$(this).val(relleFac($(this).val(), 7));
			});
			
			
			function sumarDetalle() {
				var fila = 0;
				var hijos = $('#formulario-detalle')[0].childNodes;
				var suma = 0;
				hijos.forEach(function (i) {
//					console.log(fila);
					if(fila>2 && $(i)[0].nodeName == 'LI'){
//						console.log($(i)[0].nodeName);
						// coloca total
						var linea = 0;
						
						linea=parseFloat($($(hijos)[fila].childNodes[0].childNodes[2].childNodes[0]).val())+
								parseFloat($($(hijos)[fila].childNodes[0].childNodes[3].childNodes[0]).val())+
								parseFloat($($(hijos)[fila].childNodes[0].childNodes[4].childNodes[0]).val());
						suma+=linea;
						
						$($(hijos)[fila].childNodes[0].childNodes[7].childNodes[0]).val(linea);
						
//						console.log($($(hijos)[fila].childNodes[0].childNodes[2].childNodes[0]).val());
						console.log(suma);
					}
					
					fila++;
					
				})
				return suma;
			}
			
			// Agrega Valores a los campos Total Cargado y Diferencia
			function camposControl(){
				// Control de carga
				$('#cargado').val(sumarDetalle());
				$('#diferencia').val($('#total_comprobante').val()-$('#cargado').val());
				if($('#diferencia').val()!=0){
					$('#diferencia').addClass('error');
				} else {
					$('#diferencia').removeClass('error');
				}
			}
			
			//calculos
			function calculos(objeto){
				var padre = $(objeto).parent().parent();
				var ii10=$(padre)[0].childNodes[2].childNodes[0]
				var ii5=$(padre)[0].childNodes[3].childNodes[0]
				var exe=$(padre)[0].childNodes[4].childNodes[0]
				var iva10 = getIva10( $(ii10).val() , $('#contabilidadbundle_comprac_moneda').val() );
				var iva5 = getIva5( $(ii5).val() , $('#contabilidadbundle_comprac_moneda').val() );
				var total = parseFloat($(ii10).val())+parseFloat($(ii5).val())+parseFloat($(exe).val());

				// ASIGNA VALOR A LOS CAMPOS CALCULADOS
				$(padre[0].childNodes[5].childNodes[0]).val(iva10);
				$(padre[0].childNodes[6].childNodes[0]).val(iva5);
				$(padre[0].childNodes[7].childNodes[0]).val(total);
				camposControl();
//				console.log('se ejecuta salida de input');
			}
			
			// Cálculos de inputs
			$('#formulario-detalle').on('blur', 'input[type=text]', function(){
				calculos($(this));
			})
			
			// Cálculos de inputs
			$('#total_comprobante').on('blur', function(){
				camposControl();
			})
			
			// cuando se muestra para editar
			sumarDetalle();
			camposControl();
			$('#total_comprobante').val($('#cargado').val());
			camposControl();
			$('#formulario-detalle input').attr('disabled', 'disabled').addClass('inactivo');
			$('#formulario-detalle select').attr('disabled', 'disabled').addClass('inactivo');
		
			
			
			// ----------- VALIDACIONES GUARDADO ---------------------
			
			function msgNoti(msg, tipo){
				var titulo = '';
				if(tipo=='danger'){
					titulo='Error: ';
				}
				if(tipo=='success'){
					titulo='Éxito: ';
				}
				if(tipo=='warning'){
					titulo='Atención: ';
				}
				
				$.notify({
					// options
					
					title: '<strong>'+titulo+'</strong> ',
					message: msg
				},{
					// settings
					type: tipo,
					delay: 2000,
					animate: {
						enter: 'animated fadeInDown',
						exit: 'animated fadeOutUp'
					},
					placement: {
						align: 'center'
					}
				});
			}
			
			$('#btnGuardar').on('click', function (e) {
				e.preventDefault();
				
				var errores = 0;
				
				// no se carga dia
				if($('#contabilidadbundle_comprac_dia').val()==='') {
					msgNoti('Debe cargar una fecha', 'danger');
					errores++;
				}
				
				// no se carga suc
				if($('#contabilidadbundle_comprac_nsuc').val()==='') {
					msgNoti('Debe cargar una sucursal', 'danger');
					errores++;
				}
				
				// no se carga pe
				if($('#contabilidadbundle_comprac_npe').val()==='') {
					msgNoti('Debe cargar punto de expedición', 'danger');
					errores++;
				}
				
				// no se carga ncomp
				if($('#contabilidadbundle_comprac_ncomp').val()==='') {
					msgNoti('Debe cargar punto de expedición', 'danger');
					errores++;
				}
				
				// no se carga timbrado
				if($('#contabilidadbundle_comprac_timbrado').val()==='') {
					msgNoti('Debe cargar timbrado', 'danger');
					errores++;
				}
				
				// timbrado con menos de 8 dígitos
				if($('#contabilidadbundle_comprac_timbrado').val().length != 8) {
					msgNoti('Timbrado debe contener 8 dígitos', 'danger');
					errores++;
				}
				
				// no se carga cotizacion
				if($('#contabilidadbundle_comprac_cotiz').val()==='') {
					msgNoti('Debe cargar cotización', 'danger');
					errores++;
				}
				
				// no se carga comentario
				if($('#contabilidadbundle_comprac_comentario').val()==='') {
					msgNoti('Debe cargar comentario', 'danger');
					errores++;
				}
				
				// no se carga ningún detalle
				if($('#cargado').val()==0 && $('#contabilidadbundle_comprac_anul').val()==0){
					msgNoti('Debe cargar detalles', 'danger')
					errores++;
				}
				
				if(errores>0){return false;}
				
				//todo ok para hacer el submit
				$('#formulario-detalle input').attr('disabled', 'disabled').addClass('inactivo');
				$('#formulario-detalle select').attr('disabled', 'disabled').addClass('inactivo');
				$('#formuCompra').submit();
				
				// Grabado exitosamente
				msgNoti('Compra grabada exitosamente', 'success');
			})
			
		})
	
	</script>


{% endblock %}


{% block title %}
	{{ parent() }}
	{{ tituloPag }}
{% endblock %}

{% block cedulas %}
	{% include '@Contabilidad/Partials/cedulas.html.twig' %}
{% endblock %}