{% extends '@Contabilidad/BaseFormularios.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset("js/entidades.js") }}"></script>
	<script src="{{ asset("js/ventas.js") }}"></script>
{% endblock %}

{% block areatrabajo %}
	{% dump form %}
	<div class="panel panel-default">
		<div class="panel-body">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			<div class="linea col-lg-12">
				{{ form_row(form.dia) }}
				{{ form_row(form.entidad) }}
				{{ form_row(form.nsuc) }}
				{{ form_row(form.npe) }}
				{{ form_row(form.ncomp) }}
				{{ form_row(form.timbrado) }}
				{{ form_row(form.condicion) }}
				{{ form_row(form.moneda) }}
				{{ form_row(form.cotiz) }}
				{{ form_row(form.anul) }}
			</div>
			<div class="linea col-lg-12">
				{{ form_label(form.comentario) }}
				{{ form_widget(form.comentario) }}
				<a href="#" id="add-another-email">Agregar detalle</a>
			</div>
			
			<ul id="formulario-detalle"
			    data-prototype="{{ form_widget(form.comprad.vars.prototype, {'attr':{'class':'linea col-lg-12'}})|e }}" class="linea col-lg-12">
				{% for detalle in form.comprad %}
					<li class="col-md-12 bg-danger">
						<div class="linea col-lg-12 bg-danger">
							{{ form_errors(detalle) }}
							{#{{ form_label(detalle) }}#}
							{{ form_row(detalle.afecta) }}
							{{ form_row(detalle.cuenta) }}
							{{ form_row(detalle.g10) }}
							{{ form_row(detalle.g5) }}
							{{ form_row(detalle.iva10) }}
							{{ form_row(detalle.iva5) }}
							{{ form_row(detalle.exe) }}
							{{ form_row(detalle.borrar) }}
							{{ form_row(detalle.agregar) }}
						</div>
					</li>
				{% endfor %}
			</ul>
			
			<input type="submit" value="Guardar" class="btn btn-success pull-right"/>
			{{ form_end(form) }}
			
			</div>
		</div>
	</div>
	
	
	<!-- Small modal -->
	{#<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-anular">Modal</button>#}
	
	<div class="modal fade modal-anular" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel"
	     id="modAnular">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">Anular Venta</h4>
				</div>
				<div class="modal-body bg-warning">
					<div class="row">
						<div class="col-md-3 text-center">
							<div class="btn-lg"><i class="fa fa-exclamation-circle aviso" aria-hidden="true"></i></div>
						</div>
						<div class="col-md-9">
							<p>Está seguro de anular la venta? Se borrarán los detalles</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_cancelar">No</button>
					<button type="button" class="btn btn-danger" id="modal_anular">Anular</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<script type="text/javascript">
		// keep track of how many email fields have been rendered
		var emailCount = '{{ form.comprad|length }}';
		
		jQuery(document).ready(function() {
			jQuery('#add-another-email').click(function(e) {
				e.preventDefault();
				console.log(emailCount);
				
				var emailList = jQuery('#formulario-detalle');
				console.log(emailList);
				
				// grab the prototype template
				var newWidget = emailList.attr('data-prototype');
				// replace the "__name__" used in the id and name of the prototype
				// with a number that's unique to your emails
				// end name attribute looks like name="contact[emails][2]"
				newWidget = newWidget.replace(/__name__/g, emailCount);
				emailCount++;
				
				// create a new list element and add it to the list
				var newLi = jQuery('<li></li>').html(newWidget).addClass('col-md-12');
				newLi.appendTo(emailList);
//				newLi.prependTo(emailList);
				var botonborrar = "contabilidadbundle_comprac_comprad_"+(parseInt(emailCount)-1)+"_borrar";
				console.log(botonborrar);
				$("#"+botonborrar).hide();
				$(this).hide();
				
				
			});
			
			$('#formulario-detalle').on('click', 'li div button.agregar', function(){
				var elemento = $(this).parent().parent();
				var liActual = $(this).parent().parent().parent();
//				console.log(this);
				var texto= this.name.replace(']', '').replace(']', '').replace(']', '');
				var indice= texto.split('[');
				console.log(indice);
				//muestra boton borrar
				var botonborrar = "contabilidadbundle_comprac_comprad_"+(parseInt(indice[2]))+"_borrar";
//				console.log(botonborrar);
				$("#"+botonborrar).show();
//
//              // oculta boton agregar
				$(this).hide();
				elemento.parent().addClass('bg-danger col-md-12');
				$('#add-another-email').click();
//				console.log('se realiza el borrado')
			});
			
			// borrar línea de detalle
			$('#formulario-detalle').on('click', 'li div button.borrar', function(){
				var elemento = $(this).parent().parent().parent();
				console.log(elemento);
				$(this).hide();
				elemento.parent();
				elemento.remove();
				console.log('se realiza el borrado')
			});
			
			$('button.agregar').hide();
//			$('#contabilidadbundle_comprac_dia').val(8);
			console.log($(document.dataset));

		})
		
	</script>


{% endblock %}


{% block title %}
	{{ parent() }}
	{{ tituloPag }}
{% endblock %}

{% block cedulas %}
	{% include '@Contabilidad/Partials/cedulas.html.twig' %}
{% endblock %}