{% extends '@Contabilidad/BaseFormularios.html.twig' %}
{% block title %}
    {{ parent() }}
    {{ ventaSin.nsuc ~'-'~ ventaSin.npe ~'-'~ ventaSin.ncomp}}
{% endblock %}

{% block areatrabajo %}
<div>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cabecera</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Detalle</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Asiento</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Revalúo</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
    <div class="panel panel-default">
        <div class="panel-body bg-info">
            {#{{ form_start(form) }}#}

            {#//primera fila#}
            <div class="row form-inline">
                <div class="col-md-12">
                    <label class="control-label" style="width: 17%">Fecha</label>
                    <label class="control-label" style="width: 36%">Cliente</label>
                    <label class="control-label" style="width: 21%">Sucursal</label>
                    <label class="control-label" style="width: 20%">Comprobante</label>
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.fecha, {'attr':{'disabled':true}}) }}
                    {#{{ form_widget(form.entidad, {'attr':{'disabled':true}}) }}#}
                    {{ form_widget(form.sucursal, {'attr':{'disabled':true}}) }}
                    {#<div class="panel panel-info visible-lg-inline-block">#}
                    {#<div class="bg-info">#}
                    {{ form_widget(form.nsuc, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.npe, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.ncomp, {'attr':{'disabled':true}}) }}
                    {#</div>#}
                    {#</div>#}
                </div>
            </div>
            {#//segunda fila#}
            <div class="row form-inline">
                <div class="col-md-12">
                    <label class="control-label" style="width: 15%">Timbrado</label>
                    <label class="control-label" style="width: 12%">Condición</label>
                    <label class="control-label" style="width: 21%">Moneda</label>
                    <label class="control-label" style="width: 10%">Cambio</label>
                    <label class="control-label" style="width: 20%">Comentario</label>
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.timbrado, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.condicion, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.moneda, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.cotiz, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.comentario, {'attr':{'disabled':true}}) }}
                </div>
            </div>
    
            {#//tercera fila#}
            <div class="row form-inline">
                <div class="col-md-12">
                    <label class="control-label" style="width: 17%">Gravadas 10%</label>
                    <label class="control-label" style="width: 17%">Gravadas 5%</label>
                    <label class="control-label" style="width: 16%">IVA 10%</label>
                    <label class="control-label" style="width: 16%">IVA 5%</label>
                    <label class="control-label" style="width: 16%">Exentas</label>
                    <label class="control-label" style="width: 14%">Retención IVA</label>
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.g10, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.g5, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.iva10, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.iva5, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.exe, {'attr':{'disabled':true}}) }}
                    {{ form_widget(form.retencion, {'attr':{'disabled':true}}) }}
                </div>
            </div>
            
    
            <br>
            {#{{ form_end(form) }}#}
        </div>
    </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">...</div>
    <div role="tabpanel" class="tab-pane fade" id="messages">...</div>
    <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
</div>

</div>
    <div class="row">
        <div class="col-md-12">
            {#<a href="{{ path('venta_edit', { 'id': ventaSin.id }) }}" class="btn btn-warning">Editar</a>#}
            <div class="visible-lg-inline-block pull-right">
                {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    
{% endblock %}
